<div class="container">

  <div class="nav-header">
    <nav class="navbar">
    <div class="logo">
      <img class="logo" src="../../assets/chat-logo.png" alt="logo">
    </div>
    <ul class="nav-links">
  <li><a routerLink="/">Home</a></li>
  <li><a routerLink="/signup">Signup</a></li>
  <li><a routerLink="/login">Login</a></li>
</ul>

  </nav><br>

  <div class="header">
    <div class="title">
      <h1 class="title1">Welcome to ChatAPP!</h1>
      <p class="text">
        Welcome to our chat app! Stay connected with friends, family, and
        colleagues <br />
        through seamless messaging. Whether you're sharing updates, planning
        events,<br />
        or simply catching up, our platform provides a secure and intuitive way
        to communicate.
      </p>
      <button>Get Started</button>
    </div>
    <img
      src="https://previews.123rf.com/images/rawpixel/rawpixel1512/rawpixel151207103/49274653-chat-chatting-online-messaging-technology-concept.jpg"
      alt="Header Image 3"
    />
  </div><br><br>
  </div>


</div>



