<div class="signup-form">
  <h1 class="titre">Password Reset</h1>
  <p class="titre2">You will receive instructions for resetting your password</p>
  <form class="form" (ngSubmit)="sendEmail()">
    <div class="signup-container">
      <label class="label" for="email">Email:</label>
      <<input class="input-field email" type="email" placeholder="Email" required
       [(ngModel)]="email" [ngModelOptions]="{standalone: true}" (ngModelChange)="handleEmailChange()">

      <div class="error" *ngIf="error">{{ error }}</div>
    </div>
    <br /><br />
    <div class="btn">
      <button class="all-btn loginn-btn" type="submit" [disabled]="loading">
        {{ loading ? 'Loading...' : 'Send' }}
      </button>
    </div>
  </form>
</div>
